<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Book time off</title>
</head>
<body>
<div>
	<h1>Book Time off.</h1>
</div>
<div>
<form>
<label for="timeoff-type">Time Off Type</label>
<select id="timeoff-type" name="type">
	<option>Holiday</option>
	<option>Sick Leave</option>
	<option>Out of office</option>
	<option>Working from home</option>
</select>
<label for="timeoff-period">Period</label>
<input id="timeoff-period" type="datetime" name="period">
<label for="comment">Comment</label>
<input id="comment" type="text" name="comment">
<button type="submit">Submit</button>
</form>
</div>
</body>
</html>