<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Approve disapprove time off request.</title>
</head>
<body>
<div>
<h1>Time off requests</h1>
</div>
<div>
User/Member (Takes to user detail page) | Request Date | Type | Period | Action | See Details (Takes to request details page)
<ul>
	<li>Aditya | 15 Feb 2013 | Out of office | 18 Feb 2013 to 20 Feb 2013 | Approve / Refuse | More</li>
	<li>Aditya | 15 Feb 2013 | Holiday | 18 Feb 2013 to 20 Feb 2013 | Approve / Refuse | More</li>
</ul>
</div>
</body>
</html>